/* 
* Plugin Name: WP Review
* Plugin URI: http://mythemeshop.com/plugins/wp-review/
*/
.wp-review-field label { width: 15%; display: inline-block; *display: inline; *zoom: 1; }
.wp-review-field select { width: 15em }
.wp-review-field .wp-color-result { margin: 0 }
.wp-review-item th { text-align: left }
.has-border-bottom { border-bottom: 1px solid #ddd; margin-bottom: 20px; padding-bottom: 20px; }
.review-total { text-align: right }
.wp-picker-holder { position: absolute; z-index: 9; }
#wp-review-item .review-value-incorrect { border-color: #F00 }
#wp_review_shortcode_hint_field span { color: #777; font-style: italic; display: block; margin-left: 116px; margin-top: 2px; }
#wp_review_shortcode_hint { width: 94px }
#wp_review_id_hint { margin-left: 8px }
.wp-review-admin-options .form-table td { padding: 20px 10px; vertical-align: top; }
.wp-review-admin-options p.description { font-weight: normal }
.wp-review-admin-options .wp-review-field label { width: 20% }
.wp-review-admin-options #wp_review_shortcode_hint_field span { display: inline; margin-left: 6px; }
.wp-review-theme-defaults-msg { position: relative }
.wp-review-theme-defaults-msg a.button { display: inline-block; margin-bottom: 8px; }
.wp-review-theme-defaults-msg a.close-notice { position: absolute; top: 0; right: 0; }
#wp-review-width-slider { width: 68%; float: right; margin-top: 8px; margin-right: 10px; }
#wp_review_width { width: 50px }