[class^="icon-"], [class*=" icon-"] {
  font-family: 'font-star';
  font-style: normal;
  font-weight: normal;
  line-height: 1em;
}
 
.icon-star { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe800;&nbsp;'); }